{% extends 'main.html' %}

{% block content %}

<main class="group-wrapper">
    <div class="group-container">
        <div>
            <h3>{{group.name}}</h3>
            <small>Description: <br>{{group.description}}</small>
        </div>
    </div>

    <div class="content">
        <!-- general group info -->
        <div class="group-message">
            <h3>Recent Messages</h3>
            {% if group_messages %}
            {% for message in group_messages %}
            <div>
                <p>{{message}}</p>
                <small>
                    by @{{message.user}}, {{message.created|timesince}} ago
                </small>
            </div>
            {% endfor %}
            {% else %}
            <p>Oh, no messages yet!</p>
            {% endif %}
        </div>

        <div>
            <h3>Host: {{group.host.username}}</h3>
            <p>Participants: 
                <ul>
                    {% for participant in group.participants.all %}
                    <h3>
                        {{participant.username}}
                    </h3>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>

</main>

{% endblock content %}