{% extends 'main.html' %}

{% block content %}

<main class="group-wrapper">
    <div class="group-container">
        <div>
            <h3>{{group.name}}</h3>
            <small>Description: <br>{{group.description}}</small>
        </div>
    </div>

    <div class="content">
        <!-- general group info -->
        <div class="group-message">
            <h3>Recent Messages</h3>
            {% if group_messages %}
            {% for message in group_messages %}
            <div>
                <p>{{message}}</p>
                <small>
                    by @{{message.user}}, {{message.created|timesince}} ago
                </small>
            </div>
            {% endfor %}
            {% else %}
            <p>Oh, no messages yet!</p>
            {% endif %}
        </div>

        <!-- ai stuff -->
        <div class="vertex">
            <h3>Peronalised AI</h3>
            <form method="POST">
                {% csrf_token %}
                <button class="mic-toggle" id="mic">
                    <span class="material-symbols-outlined">
                        mic
                    </span>
                </button>
            </form>

            <audio class="playback" controls></audio>

            <!-- <form action="" method="POST">
                {% csrf_token %}
                <label for="audio_name">Recording Name:</label>
                <input type="text" name="audio_name" id="audio_name">
                <button id="record-btn">Record</button>
                <button id="stop-btn" disabled>Stop</button>
            </form>
            <p id="message"></p> -->
        </div>

        <div>
            <h3>Host: {{group.host.username}}</h3>
            <p>Participants: 
                <ul>
                    {% for participant in group.participants.all %}
                    <h3>
                        {{participant.username}}
                    </h3>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>

</main>

{% endblock content %}